/* Style Sheet for the Footer of Group Project One */

/* this will style the content of the footer so that it is centered */
.card-footer {
    text-align: center;
}

#email.error {
    border: 2px dotted red;
}
#password.error {
    border: 2px dotted red;
}
.quiz {
    margin-bottom: 500px;
}
.your-class::-webkit-input-placeholder {
color: red;
}
body {
background-color: #003835;
}
.navbar {
background-color: #44836B;
}
.container {
background: #44836B;
}
.form-group{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.yashar .navbar-brand{

font-family: "Gugi", cursive;
}
nav.yashar{
background-color: #003835;
}
.form-container{
max-width: 600px;
margin: 0% auto;
}